{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/timer.css"> 
{% endblock %}

{% block content %}
    <h2 class="heading">Contagem Regressiva</h2>

    <span class="timer" id="timer">{{ rest }}s</span>
    <progress max="{{ rest }}" value="{{ rest }}" class="progress progress--rest" id="progressBar"></progress>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <audio id="countdown" autoplay>
        <source src="/static/sound/race-countdown-beeps-05.mp3" type="audio/mpeg">
    </audio>

    <script type="application/javascript">
        const timerElement = document.getElementById("timer");
        const progressBar = document.getElementById("progressBar")
        var timerCounter = progressBar.max;
    
        const interval = setInterval(() => {

            if (timerCounter <= 1) {
                window.location.href = "{{ url_for('test') }}";
                clearInterval(interval);
            }

            timerCounter = timerCounter - 1;
            
            timerElement.innerText = timerCounter + "s";
            progressBar.value = timerCounter;
        }, 1000);
    </script>
    
{% endblock %}
</main>
