{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/config.css"> 
{% endblock %}
{% block content %}
    <h2 class="text-center mt-4">{% block title %}Criar uma Corrida{% endblock %}</h2>
    {% if saved %}
        <div class="alert my-3 w-75 alert-success mx-auto alert-dismissible fade show text-center" role="alert">
            Configurações atualizadas com sucesso
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
      </div>
    {% endif %}
    <form method="POST" action="{{url_for('createCorrida')}}" class="font-weight-bold mt-5 row">
        <div class="form-group col-12 col-md-7 col-lg-5">
            <label for="nome">Nome do Circuito</label>
            <input required type="text" class="form-control" name="nome" id="nome" value="{{ circuito['nome'] if circuito else ''}}">
            <small class="form-text">Nome do circuito</small>
        </div>
        <div class="form-group col-6 col-md-5 col-lg-4">
            <label for="pais">País</label>
            <input required type="text" class="form-control" name="pais" id="pais" value="{{circuito['pais'] if circuito else ''}}">
            <small class="form-text">País onde o circuito está localizado</small>
        </div>
        <div class="form-group col-6 col-md-6 col-lg-3">
            <label for="recorde">Recorde</label>
            <input required type="text" class="form-control" name="recorde" id="recorde"
                pattern="[0-9]{1,2}:[0-9]{2}:[0-9]{3}" title="tempo no formato: X:XX:XXX" value="{{circuito['recorde'] if circuito else '0:00:000'}}">
            <small class="form-text">Volta mais rapida registrada</small>
        </div>
        <div class="form-group col d-flex">
            <button type="submit" class="btn btn-primary align-self-center ml-auto mr-3">Salvar</button>
        </div>
    </form>
{% endblock %}
