{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/config.css"> 
{% endblock %}

{% block content %}
    <h2 class="text-center mt-4">{% block title %}Configurações do leitor{% endblock %}</h2>
    <form method="POST" class="font-weight-bold mt-3 row">
        <div class="form-group col-7 col-md-5 col-lg-4">
            <label for="ip">IP</label>
            <input type="text" class="form-control" name="ip" id="ip" aria-describedby="ipHelp">
            <small id="ipHelp" class="form-text">Ip de conexão com o leitor</small>
        </div>
        <div class="form-group col-5 col-md-4 col-lg-3">
            <label for="port">Port</label>
            <input type="text" class="form-control" name="port" id="port">
            <small id="ipHelp" class="form-text">Porta para conexão</small>
        </div>
        <div class="form-group col-7 col-md-5 col-lg-3">
            <label for="serial">Serial Port</label>
            <input type="text" class="form-control" name="serial" id="serial">
            <small id="ipHelp" class="form-text">Porta serial da conexão</small>
        </div>
        <div class="form-group col-5 col-md-3 col-lg-2">
            <label for="baudrate">Baud Rate</label>
            <input type="int" min="1" class="form-control" name="baudrate" id="baudrate">
            <small id="ipHelp" class="form-text">Taxa de Baud</small>
        </div>
        <div class="form-group col-7 col-md-3 col-lg-2">
            <label for="Region">Região</label>
            <input type="text" class="form-control" name="Region" id="Region">
            <small id="ipHelp" class="form-text">Região da leitura</small>
        </div>
        <div class="form-group col-5 col-md-3 col-lg-2">
            <label for="protocolo">Protocolo</label>
            <input type="int" min="1" class="form-control" name="protocolo" id="protocolo">
            <small id="ipHelp" class="form-text">Protocolo de leitura</small>
        </div>
        <div class="form-group col-7 col-md-3 col-lg-3">
            <label for="potencia">Potência</label>
            <input type="int" min="1" class="form-control" name="potencia" id="potencia">
            <small id="ipHelp" class="form-text">Potência da leitura</small>
        </div>
        <div class="form-group col-5 col-md-3 col-lg-3">
            <label for="antena">Antena</label>
            <input type="text" class="form-control" name="antena" id="antena">
            <small id="ipHelp" class="form-text">Antena usada para leitura</small>
        </div>
        <div class="form-group col d-flex">
            <button type="submit" class="btn btn-primary align-self-center">Salvar</button>
        </div>
    </form>
{% endblock %}
