{% extends 'base.html' %}

{% block content %}
<h2 class="text-center m-4">{% block title %}Autorama{% endblock %}</h2>
    {% if success %}
        <div class="alert my-3 w-75 alert-success mx-auto alert-dismissible fade show text-center" role="alert">
            Conexão com leitor efetuada com sucesso
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    {% if error %}
        <div class="alert my-3 w-75 alert-danger mx-auto alert-dismissible fade show text-center" role="alert">
            Falha na conexão com o leitor
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    {% if ativo %}
        <ul class="list-group">
            <li class="list-group-item">
                <b>Corrida #{{corrida['corrida_id']}}</b>
                 - Circuito: {{circuito['nome']}}, Recorde do circuito: {{circuito['recorde']}}
            </li>
            <li class="list-group-item">
                {% if corrida['qualificatoriaCompleta'] %}
                    <a href="{{url_for('qualificatoria')}}" class="btn btn-info mr-auto">Ver resultado da Qualificatória</a>
                    {% if corrida['corridaCompleta'] %}
                        <a href="{{url_for('test')}}" class="btn btn-primary float-right">Ver resultado da Corrida</a>
                    {% else %}
                        <a href="{{url_for('test')}}" class="btn btn-primary float-right">Corrida</a>
                    {% endif %}
                {% else %}
                    <a href="{{url_for('rest')}}" class="btn btn-info mr-auto"> Qualificatória</a>
                {% endif %}
            </li>
        </ul>
    {% endif %}

    <div class="w-100">
        <a href="{{url_for('test')}}" class="btn btn-success m-2 mr-auto"> Testar conexão com o leitor</a>
    </div>
{% endblock %}
